@charset "utf-8";
/* CSS Document */

 *{
	  margin:0px;
	  padding:0px;
	  border:0px;
	  }
	  body{
		  background:url(images/340.jpg);
		  background-repeat:repeat-x;
		  }
	  
#box{
	 width:743px;
	 height:910px;
	 border:#000 solid 0px;
	 margin:auto;
	 }
	 #top01{
		 width:743px;
		 height:41px;
		 /*background:#CF9;*/
		 float:left;
		 margin-top:20px;
		 text-align:center;
		 }
	 #top02{
		 width:743px;
		 height:276px;
		/* background:#F9C;*/
		 float:left;
		 }
		 #top021{
			 width:126px;
			 height:63px;
			 position:absolute;
			 margin-top:-276px;
			 margin-left:0px;
			 float:left;
			 z-index:auto;
			 }
		 #top022{
			 width:120px;
			 height:70px;
			 position:absolute;
			 margin-top:-200px;
			 margin-left:0px;
			 float:left;
			 z-index:auto;
			 text-align:center;
			 font-size:smaller;
			 color:#0CF;
			 }
		 #top023{
			 margin-top:-275px;
			 magin-right:0px;
			 margin-left:498px;
			 width:200px;
			 height:60px;
			 position:absolute;
			 float:left;
			 text-align:center;
			 font-size:smaller;
			 color:#CCC;
			 z-index:auto;
			 
			 }
		 #top024{
			 width:230px;
			 height:100px;
			 margin-top:-200px;
			 margin-left:300px;
			 position:absolute;
			 float:left;
			 z-index:auto;
			 text-align:center;
			 font-size:larger;
			 color:#00C;
			 }
		 #top025{
			 width:45px;
			 height:226px;
			 margin-left:698px;
			 margin-top:-282px;
			 margin-bottom:0px;
			 margin-right:0px;
			 float:left;
			/* border:1px dotted;*/
			 position:absolute;
			 z-index:auto;
			 }
		 #top026{
			 width:304px;
			 height:60px;
			 position:absolute;
			 margin-top:-64px;
			 margin-left:235px;
			 z-index:auto;
			 float:left;
			 
			 }
	#main{
		width:743px;
		height:535px;
		/*background:#FCF;*/
		float:left;
		}
		#left{
			width:216px;
			height:535px;
			/*background:#9FF;*/
			float:left;
			}
			#left01{
				width:216px;
				height:205px;
				/*background:#09F;*/
				float:left;
				}
			#left02{
				width:216px;
				height:127px;
				/*background:#0F9;*/
				float:left;
				
				}
			#left03{
				width:216px;
				height:21px;
				/*background:#9C9;*/
				float:left;
				}
				}
			#left04{
				width:216px;
				height:182px;
				background:#03F;
				float:left;
				}
		#middle{
			width:19px;
			height:535px;
			float:left;
			/*background:#9C6;*/
			}
		#right{
			width:508px;
			height:455px;
			/*background:#CCC;*/
			float:left;
			}
			#right01{
				width:508px;
				height:115px;
				/*background:#696;*/
				float:left;
				}
			#right02{
				width:508px;
				height:20px;
				/*background:#36F;*/
				float:right;
				}
			#right03{
				width:508px;
				height:85px;
				/*background:#93F;*/
				float:left;
				}
				#right031{
					width:342px;
					height:85px;
					float:left;
					border-top:dotted 1px;
					}
				#right032{
					width:166px;
					height:85px;
					float:left;
					}
			#right04{
				width:508px;
				height:20px;
				/*background:#CF0;*/
				float:left;
				}
			#right05{
				width:508px;
				height:85px;
				/*background:#99C;*/
				float:left;
				}
				#right051{
					width:342px;
					height:85px;
					float:left;
					border-top:dotted 1px;
					}
				#right052{
					width:166px;
					height:85px;
					float:left;
					}
				
				#right06{
				width:508px;
				height:20px;
				/*background:#36F;*/
				float:right;
				}
			#right07{
				width:508px;
				height:85px;
				/*background:#93F;*/
				float:left;
				}
				#right071{
				      width:342px;
				      height:85px;
				      /*background:#93F;*/
				      float:left;
					  border-top:dotted 1px;
				     }
			    #right072{
				      width:166px;
				      height:85px;
				      /*background:#93F;*/
				      float:left;
				      }
			#right08{
				width:508px;
				height:20px;
				/*background:#CF0;*/
				float:left;
				}
			#right09{
				width:508px;
				height:85px;
				/*background:#99C;*/
				float:left;
				}
				#right091{
				width:342px;
				height:85px;
				/*background:#99C;*/
				float:left;
				border-top:dotted 1px;
				}
				#right092{
				width:166px;
				height:85px;
				/*background:#99C;*/
				float:left;
				}
	#bottom{
		width:743px;
		height:78px;
		text-align:right;
		}
	       #bottom01{
			   width:400px;
			   height:50px;
			   margin-top:-50px;
			   margin-left:300px;
			   position:absolute;
			   float:left;
			   z-index:auto;
			   text-align:right;
			   }
	#fw{
		color:#3F3;
		font-family:Verdana, Geneva, sans-serif;
		}
	#yd{
		color:#3F3;
		font-family:Verdana, Geneva, sans-serif;
		}
	#xz{
		color:#3F3;
		font-family:Verdana, Geneva, sans-serif;
		}
	#jy{
		color:#3F3;
		font-family:Verdana, Geneva, sans-serif;
		}
	#zx{
		color:#0CF;
		font-family:Verdana, Geneva, sans-serif;
		}
	#wyn{
		color:#CCC;
		font-size:small;
		}
	.lj{
		color:#F00;
		}
	#chinese{
		color:#03C;
		}
	