@charset "utf-8";
/* CSS Document */
*{ 
      margin:0px;
      padding:0px;
	  background:url(images01/8.jpg);
	  background-attachment:fixed;
	  border:0px;
	  }
 /*qq空间*/#roof{
	
	 width:100%;
	 height:50px;
	/* float:left;*/
	 font-size:larger;
	 position:absolute;
	 background:#000;
	 text-align:center;
	 }
     #roof01{
		 width:700px;
		 height:40px;
		 margin-top:10px;
		 margin-left:100px;
		 /*float:left;*/
		 z-index:auto;
		 color:#FFF;
		 background:#000;
		 position:absolute;
		 }
 /*主体*/#main{
	 width:800px;
	 height:1230px;
	 /*background:#CFC;*/
	 float:left;
	 position:absolute;
	 margin-left:260px;
	 margin-top:50px;
	 /*margin:auto;*/
	 }
	 #top01{
		 width:800px;
		 height:200px;
		 /*background:#9CF;
		 /*border:1px dotted;*/
		 float:left;
		 }
		 #top011{
			 width:200px;
			 height:40px;
			 float:left;
			 /*background:#090;*/
			 color:#69F;
			 z-index:auto;
			 position:absolute;
			 margin-top:0px;
			 margin-left:0px;
			 font-size:24px;
			 text-align:center;
			 }
		  #top012{
			  width:100px;
			  height:100px;
			 /* border:solid 1px #000000;*/
			  float:left;
			  position:absolute;
			  margin-top:100px;
			  margin-left:50px;
			  }
		   #top013{
			   width:40px;
			   height:40px;
			   position:absolute;
			   margin-top:180px;
			   margin-left:250px;
			   z-index:auto;
			   /*border:#000 solid 1px;*/
			   }
			 #top014{
			   width:60px;
			   height:40px;
			   position:absolute;
			   margin-top:180px;
			   margin-left:350px;
			   z-index:auto;
			   /*border:#000 solid 1px;*/
			   }  
			    #top015{
			   width:60px;
			   height:40px;
			   position:absolute;
			   margin-top:180px;
			   margin-left:450px;
			   z-index:auto;
			   /*border:#000 solid 1px;*/
			   }
			    #top016{
			   width:60px;
			   height:40px;
			   position:absolute;
			   margin-top:180px;
			   margin-left:550px;
			   z-index:auto;
			   /*border:#000 solid 1px;*/
			   } 
			    #top017{
			   width:60px;
			   height:40px;
			   position:absolute;
			   margin-top:180px;
			   margin-left:650px;
			   z-index:auto;
			   /*border:#000 solid 1px;*/
			   }
			    #top018{
			   width:60px;
			   height:40px;
			   position:absolute;
			   margin-top:180px;
			   margin-left:750px;
			   z-index:auto;
			  /*background:#FFF;*/
			   }
	 #top02{
		 width:800px;
		 height:30px;
		 /*background:#99F;
		 /*border:dashed 1px;*/
		 float:left;
		 }
     #middle{
		 width:800px;
		 height:1000px;
		 background:#000;
		/* border:1px dotted;*/
		 float:left;
		 }
	    #left{
			width:210px;
			height:1000px;
			float:left;
			}
			#k01{width:210px;
				height:40px;
				float:left;
				/*background:#000;*/
				}
			#k02{
				width:210px;
				height:40px;
				float:left;
				
				}
			/*好友动态*/
			#dt{
				width:210px;
				height:40px;
				background:#000;
				position:absolute;
				margin-left:0px;
				margin-top:80px;
				float:left;
				color:#FFF;
				text-align:center;
				}
				/*特别关心*/
			#tb{
				width:210px;
				height:40px;
				background:#000;
				float:left;
				position:absolute;
				margin-left:0px;
				margin-top:120px;
				color:#FFF;
				text-align:center;
				}
				/*与我相关*/
			#xg{
				width:210px;
				height:40px;
				background:#000;
				float:left;
				position:absolute;
				margin-left:0px;
				margin-top:160px;
				color:#FFF;
				text-align:center;
				}
				/*我的收藏*/
			#sc{
				width:210px;
				height:40px;
				background:#000;
				float:left;
				position:absolute;
				margin-top:200px;
				margin-left:0px;
				color:#FFF;
				text-align:center;
				}
				/*应用中心*/
			#yy{
				width:210px;
				height:40px;
				background:#000;
				float:left;
				position:absolute;
				margin-top:240px;
				margin-left:0px;
				color:#FFF;
				text-align:center;
				}
	     #mid{
			 width:50px;
			 height:1000px;
			 border:1px thick;
			 float:left;
			 }
		   #right{
			 width:540px;
			 height:1000px;
			 float:left;
			 position:absolute;
			 margin-top:0px;
			 margin-left:260px;
			 }
			 #right01{
				 width:501px;
				 height:120px;
				 border-top:solid 4px #000;
				 border-left:solid 4px #000;
				 border-right:solid 4px #000;
				 border-bottom:solid 1px #000;
				 float:left;
				 position:absolute;
				 margin-top:10px;
				 margin-left:20px;
				 background:#000;
				 z-index:auto;
			     }
			 #right02{
				 width:508px;
				 height:850px;
				 float:left;
				 position:absolute;
				 margin-top:140px;
				 margin-left:20px;
				 background:#000;
				 z-index:auto;
				 }
				 #right021{
					 width:400px;
					 height:70px;
					 float:left;
					 position:absolute;
					 margin-top:20px;
					 margin-left:30px;
					 background:#000;
					 z-index:auto;
					 border-bottom:#FFF solid 1px;
					 }
				#right022{
					width:400px;
					height:226px;
					float:left;
					position:absolute;
					margin-top:97px;
					margin-left:30px;
					z-index:auto;
					background:#000;
					}
				#right023{
					width:400px;
					height:70px;
					float:left;
					position:absolute;
					margin-top:350px;
					margin-left:30px;
					z-index:auto;
					background:#000;
					border-bottom:#FFF  solid 1px;
					}
				#right024{
					width:400px;
					height:70px;
					float:left;
					position:absolute;
					margin-top:450px;
					margin-left:30px;
					z-index:auto;
					background:#000;
					border-bottom:#FFF solid 1px;
					}
				#right025{
					width:169px;
					height:300px
					float:left;
					position:absolute;
					margin-top:530px;
					margin-left:150px;
					z-index:auto;
					background:#000;
					}
 #foot{
	 width:150px;
	 height:40px;
	 color:#000;
	 position:absolute;
	 margin-top:1300px;
	 margin-left:1000px;
	 font-size:large;
	 }
	a{
		text-decoration:none;
		font-size:13px;
		color:#000;
		}
		